<div class="grid-container">
  <div class="text-center">
    <h1><%= @user.username %>'s profile</h1>
    <%= gravatar_for @user, size: 200 %>
  <div/>
  <h3 class="">Messages</h3>
  <%= render 'messages/message' %>
<div/>


